<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= sails.config.globals.static_url %>favicon.ico">
    <!-- Inicio Load_CSS-->
    <%- ViewService.loadCss(csss)%>
    <!-- Fin CSS-->
  </head>
  <body>
