<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= sails.config.globals.static_url %>favicon.ico">
    <link rel="stylesheet" href="<%= sails.config.globals.static_url %>bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%= sails.config.globals.static_url %>bower_components/font-awesome/css/font-awesome.min.css" />
  </head>
  <body>
