  <script type="text/javascript" src="<%= sails.config.globals.static_url %>bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="<%= sails.config.globals.static_url %>bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
