<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= sails.config.globals.static_url %>favicon.ico">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>header</h1>
